body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 53px;
	font-weight: bold;
	/* text-shadow: rgb(82, 65, 0) 0px 0px 35px; */
	color: #ffcaa1;
}

.hero {
	background:
		linear-gradient(
			rgb(34, 16, 0),
			rgba(59, 27, 1, 0)
		), url(../img/cruise-hero.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.top-menu {
	width: 100%;
}
.menu-items {
	padding-left: 0;
	display: flex;
	justify-content: center;
	list-style: none;
}
.menu-items li {
	padding-left: 2%;
	padding-right: 2%;
}

/*
	https://webdeasy.de/en/top-css-buttons-en/
	#6 Thin Buttons
*/
.btn {
	text-decoration: none;
	color: #ffcaa1;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.3s;
	position: relative;
	transition: all 0.3s;
}
.btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn:visited {
	color: #db8e53;
}
.btn:hover  {
	letter-spacing: 2px;
	color: #ffcaa1;
}
.btn:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.btn::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}
.btn:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

.hero-copy {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 12%;
}